
.top-page-header{
  display: flex;
  flex-direction: column;
  background-image: url("/images/header2.jpeg");
  background-color: rgba(255, 255, 255, 0.597);
  background-blend-mode: lighten;
  /* background-image: url("/images/header_back.png"); */
  border-bottom: 1px solid rgb(7, 7, 7);
}
.logo-top{
  display: flex;
  align-items: center;
}

.logo{
  margin: 2vh 1vw 0 6vw;
  width: 80px;
  height: 80px;
}

.logo-top h1{
  color: rgb(10, 68, 34);
  font-size: 30px;
  font-family: monospace;
  margin: 0;
}

.header-right{
  justify-content: space-between;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
  margin-right: 3vw;
  margin-bottom: 1vh;
  font-size: 20px;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}