
.top-page-header{
  display: flex;
  flex-direction: column;
  background-color: rgb(210, 255, 235);
  border-bottom: 1px solid rgb(10, 92, 47);
}
.logo-top{
  display: flex;
  align-items: center;
}

.logo{
  margin: 0 1vw 0 3vw;
  width: 50px;
  height: 50px;
}

.logo-top h1{
  color: rgb(10, 68, 34);
  font-size: 30px;
  font-family: monospace;
}

.header-right{
  justify-content: space-between;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
  margin-right: 3vw;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}