.publish-main{
  height: 100vh;
  padding: 15px;
  background-image: url("/images/test4.png");
  border-top: 10px solid snow;
  /* background-color: rgb(229, 250, 219); */
}

.publish-word-index{
  height: 85%;
  border: 1px solid black;
  background-image: url("/images/test6.png");
  background-color: rgba(255, 255, 255, 0.816);
  background-blend-mode: lighten;
  margin-top: 30px;
  padding: 15px;
  border-radius: 5px;
}

table.publish_index_table{
  width: 1500px;
  table-layout:fixed;
  display: table;
}

thead.table_head,tbody.publish_table_scroll{
  display: block;
}

.user_nickname_space{
  width: 150px;
}

.publish_name_space{
  width: 150px;
}

.publish_pos_space{
  width: 80px;
}

.publish_meaning_space{
  width: 150px;
}

.publish_genre_space{
  width: 150px;
}

.publish_text_space{
  width: 300px;
}

.publish_good_space{
  width: 70px;
}

.good_image{
  height: 20px;
}

.publish_recruitment_space{
  width: 70px;
}

.publish_btn_space{
  width: 60px;
}

tbody.publish_table_scroll{
  height: 400px;
  overflow-y: scroll;
}