.side-bar{
  padding: 15px 0 15px 0;
  width: 20%;
}

.side-bar-contents{
  background-color: rgba(255, 255, 255, 0.9);
  background-blend-mode: lighten;
  border: 1px solid black;
  margin-top: 20px;
  border-radius: 5px;
}

.publish-users{
  padding: 10px;
}

.list{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.good_adoption_words{
  display: block;
}

.test{
  padding: 0 10px 10px 10px;
}

.try-test{
  padding: 5px 0;
  text-align: center;
  font-size: 15px;
  display: block;
}

.test-type-content{
  display: flex;
}

.test-type-select-box{
  margin-bottom: 5px;
  font-size: 18px;
}

.test-btn,.publish-btn{
  color: black;
  text-decoration: none;
  border: 1px solid black;
  background-color: rgb(219, 218, 218);
  padding: 10px 15px;
  margin-bottom: 5px;
}

.sub-title{
  padding: 10px;
}

.simple-calendar th{
  text-align: center;
  border-bottom: 3px solid black;
  padding: 0;
}

.simple-calendar td{
  vertical-align: top;
}

.wday-0{
  background-color: rgb(255, 215, 221);
}

.wday-6{
  background-color: rgb(215, 229, 255);
}

.simple-calendar{
  font-size: 11px;
  width: 100%;
  text-align: center;
}

.calendar-heading{
  font-size: 13px;
  text-align: center;
  margin-bottom: 5px;
}

.table-striped{
  width: 30px;
  height: 100px;
}

.calendar-day{
  font-size: 3px;
}