.main{
  width: 80%;
  height: 100vh;
  padding: 15px;
  background-color: rgb(229, 250, 219);
}

.page-title{
  font-size: 25px;
}

.new-word{
  border: 1px solid black;
  background-color: white;
  padding: 15px;
  height: 150px;
}

.new-word-header{
  padding: 5px;
}

.new-word-form{
  display: flex;
  align-items: inherit;
  padding: 10px;
  margin-bottom: 30px;
}

.important{
  width: 5%;
  text-align: center;
}

#important_check_box{
  -webkit-appearance:none;
  line-height:28px;
  width:30px;
  height:30px;
  border:solid 1px #ddd;
  background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
  -webkit-box-shadow:1px 1px 1px #888;
  -webkit-border-radius:0.5em;
  text-align:center;
  color:#888;
  font-weight:bold;
}
#important_check_box:before {
  content:"★";
  font-size:20px;
} 
#important_check_box:checked {
  color:black;
} 

.name{
  margin-left: 8px;
  text-align: center;
}

.name-form,.meaning-form,.text-form{
  padding: 5px;
}


.link-list{
  display: flex;
  justify-content: space-around;
}

.pos{
  width: 8%;
  margin-left: 20px;
  text-align: center;
}

.meaning{
  margin-left: 8px;
  text-align: center;
}

.genre{
  width: 10%;
  margin-left: 20px;
  margin-right: 13px;
  text-align: center;
}

.text{
  margin-left: 8px;
  text-align: center;
}

.publish{
  width: 5%;
  margin-left: 20px;
  text-align: center;
}

#publish_check_box{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.new-submit{
  margin-left: 20px;
  margin-top: 30px;
}

.new-word-form li{
  border: 1px solid black;
}