.mydic-contents{
  display: flex;
}

.word-index{
  height: 65%;
  border: 1px solid black;
  background-color: white;
  margin-top: 30px;
  padding: 15px;
}

.word-contents{
  display: flex;
  padding: 15px 10px;
}

.word-index-header{
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.word-index-header-right{
  display: flex;
}

.word-search{
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

.index-sort{
  margin-right: 50px;
  display: flex;
}

.supplement-text{
  display: block;
  text-align: center;
}

table.index_table{
  width: 1110px;
  table-layout:fixed;
  display: table;
}

thead.table_head,tbody.table_scroll{
  display: block;
}

.important_space{
  width: 40px;
}

.name_space{
  width: 100px;
}

.pos_space{
  width: 80px;
}

.meaning_space{
  width: 150px;
}

.genre_space{
  width: 100px;
}

.text_space{
  width: 200px;
}

.publish_space{
  width: 40px;
}

.good_space{
  width: 70px;
}

.btn_space{
  width: 60px;
}

.recruitment_space{
  width: 70px;
}


tbody.table_scroll{
  height: 420px;
  overflow-y: scroll;
}

tr{
  width: 100%;
  justify-content: space-around;
}

th{
  padding: 10px 10px 0 10px;
  border-bottom: 3px solid black;
  text-align: center;
}

.publish-pict{
  width: 20px;
  height: 20px;
}

td{
  padding: 10px 10px 0 10px;
  border-bottom: 1px solid black;
  text-align: center;
}

.bin-btn{
  width: 20px;
  height: 20px;
}

.hidden{
  display: none;
}

.recruitment-btn{
  font-size: 10px;
}